/nbproject/private/
/Jackson-Core/nbproject/private/
/Gson/build/
/Gson/nbproject/private/
/RSyntaxTextArea/build/
/RSyntaxTextArea/nbproject/private/
/Jsoup/nbproject/private/
/Jsoup/build/
/ControlFx/build/
/SwingX/build/
/ValidationAPI/build/
/CoreRegistration/build/
/TokenPrinting/build/
/ControlFx/nbproject/private/